<!doctype html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
		<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/skeleton.css') }}"> -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure-min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<title>rLoop Message Aggregator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="app" class="pure-g">
			<div class="pure-u-1-4 channel-tag-list">
				<div class="brand">
					<h1>rLoop message aggregator</h1>
  				</div>
				<div class="pure-form pure-form-stacked">
					<h2>Tags: [[tags.length]]</h2>
					<div class="selected-tags-wrapper">
						<label v-for="activeTag in activeTags">
							+[[activeTag]]
						</label>
					</div>
					<label v-for="tag in tags">
						<input type="checkbox" value="[[tag.value]]" id="[[tag.value]]" v-model="activeTags">
						<span class="label-body">[[tag.value]]</span>
					</label>
				</div>
				<div class="pure-form pure-form-stacked">
					<h2>Channels: [[channels.length]]</h2>
					<div class="selected-channels-wrapper">
						<label v-for="activeChannel in activeChannels">
							#[[activeChannel]]
						</label>
					</div>
					<label v-for="channel in channels">
						<input type="checkbox" value="[[channel.name]]" id="[[channel.name]]" v-model="activeChannels">
						<span class="label-body">[[channel.name]]</span>
					</label>
				</div>
			</div>
			<div class="pure-u-3-4 message-list">
				<div class="message-wrapper" v-for="message in messages">
					<div class="op">
						<span><b>@[[message.user]]:- </b></span>
						<span><i>[[message.ts]]</i></span>
					</div>
					<div class="text">
						[[message.text]]
					</div>
				</div>
				<div class="no-messages-wrapper" v-show="messages.length == 0">
					<span><b>No messages found</b></span>
					<span v-show="activeTags.length == 0"><b>You must select one or more tags</b></span>
					<span v-show="activeChannels.length == 0"><b>You must select one or more channels</b></span>
				</div>
			</div>
		</div>
	  	
		<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vue-resource.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/storage.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>